.equipment {
    padding: 0 2rem;
    width: 88vw;
}

.assembler__content {
    padding: 2em 10%;
    height: fit-content;
}

.part {
    padding: 1em 0;
    height: fit-content;
}

.part__title {
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
}

.production {
    background: var(--white);
    border: 3px solid var(--white);
    clip-path: polygon(100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 0);
    cursor: pointer;
    float: right;
    font-size: 2em;
    margin-top: 1em;
    padding: .2em 1em;
    text-transform: uppercase;
}

.production:hover {
    background: var(--black);
    color: var(--white)
}

@media screen and (min-width: 768px) {
    
    .equipment {
        padding: 1rem;
        padding-top: 5rem;
        width: 50vw;
    }
    
    .assembler__content {
        padding: 2em 10%;
    }
    
    .part {
        padding: 1em 0;
        height: fit-content;
    }

    .part__title {
        color: var(--white);
        font-size: 2em;
        text-transform: uppercase;
    }
}


@media screen and (min-width: 1024px) {
    
    .equipment {
        padding: 1rem;
        width: 30vw;
    }
    
    .assembler {
        height: 95vh;
    }
    
    .assembler__content {
        padding: 2em 10%;
    }
    
    .part {
        padding: 1em 0;
    }
    
    .part__title {
        color: var(--white);
        font-size: 2.5em;
        text-transform: uppercase;
    }
    
}