.robotron {
    background: url(../../img/bgs/bg-robot.png) no-repeat;
    background-position: center center;
    flex-basis: 20%;
    margin: 0;
    position: relative;
}

.robot {
    height: 80vh;
    position: absolute;
    left: 3%;
    top: -5%;
}

.robot__title {
    color: rgba(255,255,255,0.8);
    font-size: 80px;
    font-weight: 500;
    line-height: 0.8;
    left: -7%;
    margin: 0;
    position: relative;
    padding: 1rem 0 0 0;
    text-orientation: mixed;
    text-transform: uppercase;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

.robotron__colors {
    font-size: 1.5rem;
    padding: 4rem 1.5rem;
    padding-bottom: 1rem;
    vertical-align: bottom;
    width: fit-content;
}

.robotron__colors label:hover {
    cursor: pointer;
    margin-top: -5px;
}

.robotron__colors img {
    width: 48px;
}

.robotron__skins {
    display: none;
}

#skins {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    padding: 1em;
    background: rgba(0,0,0,0.6);
    clip-path: polygon(calc(100% - 30px) 0, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0 calc(100% - 30px), 0 30px, 30px 0);
    border-left: 5px solid var(--main-cinza);
}


@media screen and (min-width: 768px) {
    
    .robot {
        height: 100vh;
        left: 20%;
        top: 1%;
    }
    
    .robot__title {
        font-size: 130px;
        padding: 3rem 0 0 0;
        left: 7%;
    }
}

@media screen and (min-width: 1024px) {
    
    .robotron {
        flex-basis: 40%;
    }
    
    .robot {
        height: 90%;
        left: 5%;
        top: 5%;
        z-index: 1;
    }
    
    .robot__title {
        bottom: -2rem;
        left: -.10rem;
        font-size: 110px;
        position: absolute;
    }
}

@media screen and (min-width: 1440px) {
    
    .robotron {
        flex-basis: 40%;
    }
    
    .robot {
        height: 110%;
        left: 2%;
        top: -5%;
        z-index: 1;
    }
    
    .robot__title {
        bottom: 1rem;
        left: 2rem;
        position: absolute;
    }
}