@import url(base/variables.css);

@import url(components/robot.css);
@import url(components/controls.css);

@import url(components/sections/infos.css);
@import url(components/sections/equipment.css);
@import url(components/sections/statistics.css);


* {
    box-sizing: border-box;
}

body {
    background: url(../img/bgs/bg.jpg);
    background-position: center center;
    background-size: cover cover;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

body, input {
    font-family: var(--font-default);
}

main {
    display: block;
    gap: 1vw;
    height: 80vh;
    margin: 10vh 8vw 10vh 12vw;
    width: 80vw;
}

.container {
    background: rgba(0,0,0,0.6);
    border-left: 5px solid var(--gray);
    clip-path: polygon(calc(100% - 30px) 0, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0 calc(100% - 30px), 0 30px, 30px 0);
    height: 80%;
}


@media screen and (min-width: 768px) {
    
    main {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    
    main {
        display: flex;
        justify-content: center;
    }
}



@media screen and (max-width: 1600px) {

    body { 
        font-size: 14px;
    }
    main {
        height: 80vh;
        margin: 5vh auto;
        width: 90vw;
    }
}

@media screen and (max-width: 1200px) {

    body { 
        font-size: 13px;
    }

    main {
        height: 80vh;
        margin: 10vh auto;
        width: 96vw;
    }
}